# IDE and editor configuration files
.idea/
.vscode/
*.swp

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
# These are the most important lines for a monorepo
backend/node_modules/
frontend/node_modules/

# Environment variables
# It's a best practice to ignore all .env files and commit a template instead
.env
.env.*
!.env.example